{% extends "layout.jinja2" %}
{% block title %}Homepage{% endblock title %}
{% block head %}
  {{ super() }}  
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>{% endblock head %}
{% block content %}
  <h1>homepagze</h1>
  
  <div hx-get="/example" hx-trigger="mouseenter once" id="first" hx-target="#lastone">
    Add content inside on mouse enter, just once, but in the last one
  </div>

  <div hx-get="/example" hx-trigger="mouseenter delay:1s">
    Add content inside on mouse enter, just once, with a delay of 1s
  </div>

  <div hx-get="/example" hx-trigger="mouseenter from:#first">
    Adds data if the first one gets a mouse enter event
  </div>

  <div id="lastone"></div>

  <div hx-get="/example" hx-trigger="load"></div>
  <div hx-get="/example" hx-trigger="every 10s"></div>

  <div hx-get="/load_polling" hx-trigger="load delay:10s" hx-swap="outerHTML">
    Initial data!
    <img src="public/spinner.svg" class="htmx-indicator" />
  </div>
  

  
  
{% endblock content %}
