{% extends "layout.jinja2" %}
{% block title %}Homepage{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block content %}
  <h1>homepage</h1>
{% endblock content %}
